<!DOCTYPE html>
<html>
  <head>
   <title>Créditos</title>
   <link rel='stylesheet' href='/stylesheets/style.css'/>
   <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>

  <body>
   <h1>Créditos</h1>
   <p>Página Creada por:</p>
   <p>Miguel Merino Semprún</p>
   <img src="images/miguel.jpeg" alt='Miguel' />
  </body>
 <html>
